# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
ENV/
env/
.ENV/
.env/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite / DB files
*.sqlite3
*.db
*.sqlite

# Profiling
.prof

# Misc
*.pyo
*.pyd
*.bak
*.swp
*.swo
*.orig
